.logIn-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  opacity: 0.9;
  background-color: rgb(136, 100, 85);

  position: relative;
}

.google-button {
  z-index: 20;
  position: absolute;
  top: 57%;
}
